* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
ul,
li {
  margin: 0;
  margin-bottom: 0;
}
:root {
  --txt1: black;
  --bg-main: white;
  &[data-theme="dark"] {
    --txt1: white;
    --bg-main: black;
  }
}
